!!!
%html
  %head
    %title= "ExpressYaself.in #{tag}"
    %link(rel="stylesheet" href="styles/express.css")
  %body
    %h1= "ExpressYaself.in <span class='tag'>#{tag}</span><span class='arrow-down'></span>"

    -if messages.empty?
      %ul
        %li.message
          %img{ src: 'images/code-21.gif' }
          %p
            OH SNAP! Nothing to show <br/><br/>
            %ul.instructions
              %li Think of something insightful to say
              %li= "Email that to xxpressyaself@gmail.com with #{tag} in the subject"
              %li Reload this page!
    -else
      %ul
        - messages.each do |message|
          %li.message
            %img{ src: message.author_avatar, tooltip: message.author_name }
            %p= message.body
