!!!
%html
  %head
    %title= "Express Ya #{label} !!1!"
  %body
    %h1= "Express Ya #{label} !!1!"

    %table
      - messages.each do |message|
        %tr
          %td
            %img{ src: message.author_avatar, alt: message.author_name }
          %td= message.body
