:javascript

  $(function() {
   var faye = new Faye.Client("http://#{request.host}:#{port}/faye/faye");
   faye.subscribe("/messages/#{tag[1, tag.length]}", function (data) {
     $('.messages').append(data);
    });
  });

%h1= "<a href='/'>ExpressYaself.in <span class='tag'>#{tag}</span><span class='arrow-down'></span></a>"

-if messages.empty?
  %ul
    %li.message
      %img{ src: 'images/code-21.gif' }
      %p
        OH SNAP! Nothing to show <br/><br/>
        %ul.instructions
          %li Think of something insightful to say
          %li= "Email that to xxpressyaself@gmail.com with #{tag} in the subject"
-else
  %ul.messages
    - messages.each do |message|
      = haml :message, locals: { message: message }
