!!!
%html
  %head
    %title= "Express Ya #{tag} !!1!"
  %body
    %h1= "Express Ya <span style='color: #fff; background: hotpink; padding: 5px;'>#{tag}</span> !!1!"

    %table
      - messages.each do |message|
        %tr
          %td
            %img{ src: message.author_avatar, alt: message.author_name }
          %td= message.body
