!!!
%html
  %head
    %title= "Express Ya #{label} !!1!"
  %body
    %h1= "Express Ya #{label} !!1!"

    %table
      - messages.each do |message|
        %tr
          %td= message.author_email
          %td= message.author_name
          %td= message.body
